CHANNELSIP="10.0.250.69"

IPADDRESS="10.0.250.69"
STREAMER_APP="scripts/firetv/hulu"

NUMBER_TUNERS="1"

ENCODER1_URL=""
TUNER1_IP="10.0.250.153"
CMD1_DEVICE="Intensity Extreme"
CMD1="ffmpeg -hide_banner -loglevel error -format_code hp50 -f decklink -i 'Intensity Extreme' -vf 'yadif=1,hqdn3d=4:3:6,scale=1920:1080' -c:a aac -g 90 -b:a 1.5M -b:v 50M -f mpegts  -maxrate 50M -bufsize 200M  -"
ENCODER2_URL=""
TUNER2_IP=""
CMD2=""

ENCODER3_URL=""
TUNER3_IP=""
CMD3=""

ENCODER4_URL=""
TUNER4_IP=""
CMD4=""

ENCODER5_URL=""
TUNER5_IP=""
CMD5=""

ALERT_SMTP_SERVER=""
ALERT_AUTH_SERVER=""
ALERT_EMAIL_FROM=""
ALERT_EMAIL_PASS=""
ALERT_EMAIL_TO=""

ALERT_WEBHOOK_URL=""

ALLOW_DEBUG_VIDEO_PREVIEW="FALSE"
