CHANNELSIP="10.0.250.69"

IPADDRESS="10.0.250.69"
STREAMER_APP="scripts/firetv/hulu"

NUMBER_TUNERS="2"

ENCODER1_URL="http://10.0.250.110/ts/1_0"
TUNER1_IP="10.0.250.154"
CMD1=""

ENCODER2_URL="http://10.0.250.145/ts/1_0"
TUNER2_IP="10.0.250.158"
CMD2=""

ENCODER3_URL=""
TUNER3_IP=""
CMD3=""

ENCODER4_URL=""
TUNER4_IP=""
CMD4=""

ENCODER5_URL=""
TUNER5_IP=""
CMD5=""

ALERT_SMTP_SERVER="smtp.gmail.com:587"
ALERT_AUTH_SERVER="smtp.gmail.com"
ALERT_EMAIL_FROM=""
ALERT_EMAIL_PASS=""
ALERT_EMAIL_TO=""

ALERT_WEBHOOK_URL=""

ALLOW_DEBUG_VIDEO_PREVIEW="FALSE"
