CHANNELSIP="10.0.250.69"

IPADDRESS="10.0.250.159"
STREAMER_APP="scripts/firetv/hulu"

NUMBER_TUNERS="1"

ENCODER1_URL=""
TUNER1_IP="10.0.250.153:5555"
CMD1="/opt/Hauppauge/bin/hauppauge2 --serial E585-00-00D8BC0D -i 3 -a 3 -d 2 -S 3 -R 29 -C 0 -B 5 -A 0 -p 4 -r 14800000 -X 2 -F 0"

ENCODER1_URL=""
TUNER1_IP="10.0.250.136:5555"
CMD1="/opt/Hauppauge/bin/hauppauge2 --serial E585-00-00D8CB5F -i 3 -a 3 -d 2 -S 3 -R 29 -C 0 -B 5 -A 0 -p 4 -r 14800000 -X 2 -F 0"

ENCODER3_URL=""
TUNER3_IP=""
CMD3=""

ENCODER4_URL=""
TUNER4_IP=""
CMD4=""

ENCODER5_URL=""
TUNER5_IP=""
CMD5=""

ALERT_SMTP_SERVER="smtp.gmail.com:587"
ALERT_AUTH_SERVER="smtp.gmail.com"
ALERT_EMAIL_FROM=""
ALERT_EMAIL_PASS=""
ALERT_EMAIL_TO=""

ALERT_WEBHOOK_URL=""

ALLOW_DEBUG_VIDEO_PREVIEW="FALSE"
