CHANNELSIP="10.0.250.69"
IPADDRESS="10.0.250.142"

STREAMER_APP="scripts/firetv/hulu"

NUMBER_TUNERS="2"

ENCODER1_URL=""
TUNER1_IP="10.0.250.158:5555"
CMD1_DEVICE="/dev/video0"
CMD1="ffmpeg -thread_queue_size 1024 -y -hwaccel cuda -hwaccel_output_format cuda -f v4l2 -i $CMD1_DEVICE -thread_queue_size 1024 -f pulse -i  alsa_input.pci-0000_08_00.0.stereo-fallback  -c:v h264_nvenc -b:v 70M -minrate 50M -maxrate 95M -bufsize 150M  -vf 'hqdn3d=1.5:1.5:6:6,scale=3840:2160:flags=lanczos,unsharp=5:5:1.5:5:5:0.0' -c:a eac3 -strict -2 -b:a 6144000 -ar 48000 -af 'volume=2.0' -vsync 1 -async 1 -f mpegts -"


ENCODER2_URL=""
TUNER2_IP="10.0.250.153:5555"
CMD2_DEVICE="/dev/video1"
CMD2="ffmpeg -thread_queue_size 1024 -y -hwaccel cuda -hwaccel_output_format cuda -f v4l2 -i $CMD2_DEVICE -thread_queue_size 1024 -f pulse -i alsa_input.pci-0000_0a_00.0.stereo-fallback -c:v h264_nvenc -b:v 70M -minrate 50M -maxrate 95M -bufsize 150M  -vf 'hqdn3d=1.5:1.5:6:6,scale=3840:2160:flags=lanczos,unsharp=5:5:1.5:5:5:0.0' -c:a eac3 -strict -2 -b:a 6144000 -ar 48000 -af 'volume=2.0' -vsync 1 -async 1 -f mpegts -"

ENCODER3_URL=""
TUNER3_IP=""
CMD3=""
CMD3_DEVICE=""

ENCODER4_URL=""
TUNER4_IP=""
CMD4=""
CMD4_DEVICE=""

ENCODER5_URL=""
TUNER5_IP=""
CMD5=""
CMD5_DEVICE=""

ALERT_SMTP_SERVER=""
ALERT_AUTH_SERVER=""
ALERT_EMAIL_FROM=""
ALERT_EMAIL_PASS=""
ALERT_EMAIL_TO=""

ALERT_WEBHOOK_URL=""

ALLOW_DEBUG_VIDEO_PREVIEW="FALSE"
