CHANNELSIP="10.0.250.69"
IPADDRESS="10.0.250.69"

STREAMER_APP="scripts/firetv/hulu"

NUMBER_TUNERS="2"

ENCODER1_URL="http://10.0.250.110/ts/1_0"
TUNER1_IP="G0723H0825150213"
CMD1=""
CMD1_DEVICE=""

ENCODER2_URL="http://10.0.250.145/ts/1_0"
TUNER2_IP="1G0723H08247205XX"
CMD2=""
CMD2_DEVICE=""

ENCODER3_URL=""
TUNER3_IP=""
CMD3=""
CMD3_DEVICE=""

ENCODER4_URL=""
TUNER4_IP=""
CMD4=""
CMD4_DEVICE=""

ENCODER5_URL=""
TUNER5_IP=""
CMD5=""
CMD5_DEVICE=""

ALERT_SMTP_SERVER="smtp.gmail.com:587"
ALERT_AUTH_SERVER="smtp.gmail.com"
ALERT_EMAIL_FROM=""
ALERT_EMAIL_PASS=""
ALERT_EMAIL_TO=""

ALERT_WEBHOOK_URL=""

ALLOW_DEBUG_VIDEO_PREVIEW="FALSE"
